#banner{
    background-image: url('https://images.unsplash.com/photo-1580152317379-422c5221755e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1631&q=80');
    opacity: 0.9;
    height: 500px;
    background-size: cover;
    background-position: center;
}

#carImg, #carImg1 {
    max-width: 500px;
}
span {
    color: black;
}
footer {
    height: 100px;
}
