#banner{
    background-image: url('https://images.unsplash.com/photo-1580152317379-422c5221755e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1631&q=80');
    opacity: 0.9;
    height: 300px;
    background-size: cover;
    background-position: center;
}

#textBanner {
    color: #FF2C40;
}

.card {
    cursor: pointer;
}
.offcanvas-body .card {
    cursor:auto;
}

.card-img-top {
    max-height: 200px;
    max-width: 100%;
    width: fit-content;
}

.cardText {
    height: 130px;
}

#productCards > .card {
    outline: 1px solid #D2D2D2;
    outline-offset: -3px;
}

#product-img > img {
    max-height: 600px;
}

#listCategories {
    list-style-type: circle;
}

.carousel-inner .img-fluid {
    max-width: 70%;
    height: auto;
}

#carouselPromo img {
    width: 60%;
    max-width: 350px;
}

.navbar, footer {
    background-color: #191919;
}

#socials i {
    color: #F8F9FA;
}

#socials i:hover {
    color: #FF2C40;
}

footer h6 {
    margin-bottom: 20px;
}

footer p {
    line-height: 5px;
}

#workWithUs p {
    line-height: 13px;
}

#cartScroll {
    overflow-y: scroll;
}

.quantity {
    width: 50px;
}

figure > img {
    width: 5em;
}

blockquote {
    font-style: italic;
}



/* MEDIA QUERIES */
@media screen and (min-width: 576px) {
    #productCards > .card {
        width: 33%;
    }

    #carouselPromo img {
        width: 25%;
        max-width: 350px;
    }
}
@media screen and (min-width: 992px) {
    #productCards > .card {
        width: 25%;
    }
}
@media screen and (min-width: 1200px) {
    #productCards > .card {
        width: 20%;
    }
}