#banner{
    background-image: url('https://images.unsplash.com/photo-1580152317379-422c5221755e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1631&q=80');
    opacity: 0.9;
    height: 500px;
    background-size: cover;
    background-position: center;
}

#productCards > .card {
    outline: 1px solid #D2D2D2;
    outline-offset: -3px;
}

#listCategories {
    list-style-type: circle;
}


/* MEDIA QUERIES */
@media screen and (min-width: 576px) {
    #productCards > .card {
        width: 33%;
    }
}
@media screen and (min-width: 992px) {
    #productCards > .card {
        width: 25%;
    }
}
@media screen and (min-width: 1200px) {
    #productCards > .card {
        width: 20%;
    }
}